body{
background-image: url(https://st2.depositphotos.com/1772367/7535/i/950/depositphotos_75351927-stock-photo-cookies-background.jpg); 
  background-size: 100%;
}

h1{
  font-size: 90px;
  text-align: center;
 padding-bottom: 100px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


nav ul li {
  display: inline;
  text-decoration: none;
  font-size: 50px;
}

nav ul li a  {

 
  text-decoration: none;
 padding-left: 300px;
}





h2 {
    text-align: center;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#main{ 
    width: 500px ;
margin-left:500px;
}

#p1 {
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 25px;

}

article p {
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}




table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#cookieForm{
 font-size: 30px;
 text-align: center;
 padding-top: 30px;
}

div img{
  float: right;
  border-bottom: 200px;
}
#cut p{
  text-align: center;
  font-size: 20px;
}

.last{
  width: 400px;
  float:right;
  padding-right: 100px; 
 
}

#p6 {
 padding-left: 300px;

  font-size: 30px;
}